/* Tailwind v4 가져오기 */
@import "tailwindcss";

@theme {
  --color-mkOrange: #ff6600;
  --color-mkRed: #d2201d;
  --color-mkBlue: #0042cc;

  /* 폰트 설정 (선택사항) */
  --font-serif: "Noto Serif KR", serif;

  --animate-ticker: ticker 20s linear infinite;
  --animate-fadeIn: fadeIn 0.2s ease-out;

  @keyframes ticker {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/* 기본 스타일 */
body {
  font-family: 'NotosansKR', sans-serif;
  background-color: #f8f9fa;
  color: #1f2937;
}